.container{
  display: flex;
  flex-direction: column;
}
.spreadsheet-controls {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.spreadsheet-container {
  margin-top: 80px;
  margin-right: 10px;
  margin-left: 10px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
